@using OrchardCore.Commerce.Models
@using OrchardCore.ContentManagement
@using OrchardCore.Menu.Models
@using System.Globalization
@{
    ContentItem ci = Model.ContentItem;
    var pro = ci.As<ProductPart>();
    var pricep = ci.As<PricePart>();
    var price = pricep.Price.Value.ToString("n2");
    var curr = pricep.Price.Currency.ToString();
}
<!-- product-->
<div class="item col-xl-3 col-lg-4 col-6">
    <div class="product product-type-0" data-aos="zoom-in" data-aos-delay="0">
        <div class="product-image mb-md-3">
            <a display-for="@Model.ContentItem">
                @await DisplayAsync(Model.Gallery)
            </a>
            <div class="product-hover-overlay">
                <svg class="svg-icon text-primary-hover svg-icon-heavy d-sm-none">
                    <use xlink:href="#retail-bag-1"> </use>
                </svg>
                <form asp-action="AddItem" asp-controller="ShoppingCart" asp-area="OrchardCore.Commerce">
                    <button class="btn btn-link" type="submit">
                        <span class="d-none d-sm-inline">@T["Add to cart"]</span>
                    </button>
                    <input id="@ci.ContentItemId-quantity" name="line.Quantity" type="hidden" value="1" />

                    <input type="hidden" name="line.ProductSku" value="@pro?.Sku" />
                </form>
            </div>
        </div>
        <div class="position-relative">
            <h3 class="text-base mb-1">
                <a class="text-dark" display-for="@Model.ContentItem"> @Model.ContentItem.DisplayText </a>
            </h3>
            <p class="text-gray-600 text-sm">
                <span>@price @curr</span>

            </p>
            <div class="d-none product-stars text-xs">
                <i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-muted"></i><i class="fa fa-star text-muted"></i>
            </div>
        </div>
    </div>
</div>
<!-- /product   -->
