    <section>
      <div class="container pt-5">
        <div class="d-block" id="addToCartAlert">
          <div class="mb-4 mb-lg-5 alert alert-success alert-dismissible fade show" role="alert">
            <div class="d-flex align-items-center">
              <svg class="svg-icon d-none d-sm-block w-3rem h-3rem svg-icon-light flex-shrink-0 me-3">
                <use xlink:href="#checked-circle-1"> </use>
              </svg>
              <p class="mb-0">Push-up jeans have been added to your cart. <br class="d-inline-block d-lg-none"><a href="cart.html" class="text-reset text-decoration-underline ms-lg-3">View Cart</a></p>
            </div>
            <button class="btn-close btn-close-white opacity-10" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
        <ul class="breadcrumb undefined">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item"><a href="category-full.html">Tops and Jackets</a></li>
          <li class="breadcrumb-item active">@Model.ContentItem.DisplayText</li>
        </ul>
        <div class="row">
          <div class="col-lg-7 order-2 order-lg-1">
            <div class="detail-carousel">
              <div class="product-badge badge bg-primary">Fresh</div>
              <div class="product-badge badge bg-dark">Sale</div>
              <div class="swiper swiper-container detail-slider photoswipe-gallery" id="detailSlider">
                <!-- Additional required wrapper-->
                <div class="swiper-wrapper">
                  <!-- Slides-->
                  @{
                        foreach(string imageUrl in Model.ContentItem.Content.Gallery.Images.Paths)
                        {
                            <div class="swiper-slide">                       
                                <a class="btn btn-photoswipe" href="@Orchard.AssetUrl(imageUrl)" data-caption="Push-up Jeans 1 - Caption text" data-toggle="photoswipe" data-width="1200" data-height="1200"> 
                                <svg class="svg-icon svg-icon-heavy">
                                <use xlink:href="#expand-1"> </use>
                                </svg></a>
                            <div data-toggle="zoom" data-image="@Orchard.AssetUrl(imageUrl)">
                                <img class="img-fluid" src="@Orchard.AssetUrl(imageUrl)" alt="Push-up Jeans 1"></div>
                            </div>
                        }
                    }

                </div>
              </div>
            </div>
            <div class="swiper-thumbs" data-swiper="#detailSlider">

                @{
                    foreach(string imageUrl in Model.ContentItem.Content.Gallery.Images.Paths)
                    {
                        <button class="swiper-thumb-item detail-thumb-item mb-3">
                            <img class="img-fluid" src="@Orchard.AssetUrl(imageUrl)" alt="">
                        </button>
                    }
                }
            </div>
          </div>
          <div class="col-lg-5 ps-lg-4 order-1 order-lg-2">
            <h1 class="mb-4">@Model.ContentItem.DisplayText</h1>
            <div class="d-flex flex-column flex-sm-row align-items-sm-center justify-content-sm-between mb-4">
              <ul class="list-inline mb-2 mb-sm-0">
                <li class="list-inline-item h4 fw-light mb-0">@Model.ContentItem.Content.PricePart.Price.currency@Model.ContentItem.Content.PricePart.Price.value</li>
                <li class="list-inline-item text-muted fw-light"> 
                  <del>$90.00</del>
                </li>
              </ul>
              <!-- rating -->
              <div class="d-flex align-items-center text-sm">
                <ul class="list-inline me-2 mb-0">
                  <li class="list-inline-item me-0"><i class="fa fa-star text-primary"></i></li>
                  <li class="list-inline-item me-0"><i class="fa fa-star text-primary"></i></li>
                  <li class="list-inline-item me-0"><i class="fa fa-star text-primary"></i></li>
                  <li class="list-inline-item me-0"><i class="fa fa-star text-primary"></i></li>
                  <li class="list-inline-item me-0"><i class="fa fa-star text-gray-300"></i></li>
                </ul><span class="text-muted text-uppercase">25 reviews</span>
              </div>
              <!-- rating end -->
            </div>
            <p class="mb-4 text-muted">Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.</p>
            <form id="buyForm" action="#">
              <div class="row">
                <div class="col-sm-6 col-lg-12 detail-option mb-4">
                  <h6 class="detail-option-heading">Size <span>(required)</span></h6>
                  <select class="selectpicker" name="size" data-style="btn-selectpicker">
                    <option value="value_0">Small</option>
                    <option value="value_1">Medium</option>
                    <option value="value_2">Large</option>
                  </select>
                </div>
                <div class="col-sm-6 col-lg-12 detail-option mb-5">
                  <h6 class="detail-option-heading">Type <span>(required)</span></h6>
                  <label class="btn btn-sm btn-outline-primary detail-option-btn-label" for="material_0"> Hoodie
                    <input class="input-invisible" type="radio" name="material" value="value_0" id="material_0" required>
                  </label>
                  <label class="btn btn-sm btn-outline-primary detail-option-btn-label" for="material_1"> College
                    <input class="input-invisible" type="radio" name="material" value="value_1" id="material_1" required>
                  </label>
                </div>
              </div>
              <div class="input-group w-100 mb-4">
                <input class="form-control form-control-lg detail-quantity" name="items" type="number" value="1">
                <div class="flex-grow-1">
                  <div class="d-grid h-100">
                    <button class="btn btn-dark" type="submit"> <i class="fa fa-shopping-cart me-2"></i>Add to Cart</button>
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-6"><a href="#"> <i class="far fa-heart me-2"></i>Add to wishlist </a></div>
                <div class="col-6 text-end">
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item me-2"><a class="text-dark text-primary-hover" href="#"><i class="fab fa-facebook-f"> </i></a></li>
                    <li class="list-inline-item"><a class="text-dark text-primary-hover" href="#"><i class="fab fa-twitter"> </i></a></li>
                  </ul>
                </div>
              </div>
              <ul class="list-unstyled">
                <li><strong>Category:</strong> <a class="text-muted" href="#">Jeans</a></li>
                <li><strong>Tags:</strong> <a class="text-muted" href="#">Leisure</a>, <a class="text-muted" href="#">Elegant</a></li>
              </ul>
            </form>
          </div>
        </div>
      </div>
    </section>